<p id="notice"><%= notice %></p>

<p>
  <strong>Coke:</strong>
  <%= @drink.coke %>
</p>

<p>
  <strong>Beer:</strong>
  <%= @drink.beer %>
</p>

<p>
  <strong>Water:</strong>
  <%= @drink.water %>
</p>

<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Back', drinks_path %>
