<%= form_for(@food) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meat %><br>
    <%= f.text_field :meat %>
  </div>
  <div class="field">
    <%= f.label :fish %><br>
    <%= f.text_field :fish %>
  </div>
  <div class="field">
    <%= f.label :pasta %><br>
    <%= f.text_field :pasta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
