<h1>Listing foods</h1>

<table>
  <thead>
    <tr>
      <th>Meat</th>
      <th>Fish</th>
      <th>Pasta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.meat %></td>
        <td><%= food.fish %></td>
        <td><%= food.pasta %></td>
        <td><%= link_to 'Show', food %></td>
        <td><%= link_to 'Edit', edit_food_path(food) %></td>
        <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food', new_food_path %>
