<p id="notice"><%= notice %></p>

<p>
  <strong>Meat:</strong>
  <%= @food.meat %>
</p>

<p>
  <strong>Fish:</strong>
  <%= @food.fish %>
</p>

<p>
  <strong>Pasta:</strong>
  <%= @food.pasta %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
